body {
    font-family: fantasy;
    background-color: rgb(185, 247, 185);
}

.label {
    position:fixed;
    top: 250px;
    left: 10px;
}

.textbox {
    position:fixed;
    top: 270px;
    left: 10px;
}

.button {
    position:fixed;
    top: 300px;
    left: 10px;
}